
<div class="awareness">
    <h1>Понимание задачи</h1>
    <div id="first" hidden>{{ text }}</div>
    <div id="blum1" class="blum1"></div>
</div>

<script>
    var markup = $('#first').text()
    $('#blum1').html(markup)
</script>