<h1>{{ title }}</h1>
<p>Пополнение счета в Лин-дизайне </p>



<form action="/createFolder" method="post">
    <input type="hidden" name="clientId" value="753148584254668800">
    <label>Сумма</label><input type="text" name="company">
    <button type="submit">Submit</button>
</form>